// Colors
$black: #000;
$purple: #a173e8;
$grey: #888;
$white: #fff;
$border-color: #c0c0c0;
$semi-grey: #f8f9fa;
$dim: #e2e2e3;
$blue: #3c74ff;
$db-new-color: #dadce0;


// Height
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$db-header-height: 64px;